html, body {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:normal;
  line-height: 1.9;
  font-size: 15px;
  background-color: #fdfdfd;
  width: 100%;
}

@font-face {
    font-family: cavorting;
    src: url("cavorting.otf") format("opentype");
}

@font-face {
  font-family: inconsolata;
  src: url("inconsolata.otf") format("opentype");
}

h2 {
  font-size: 1.7rem;
  text-align: center;
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 15px;
}

hr {
	border-top: 1px solid #cacaca;
	text-align: center;
  margin-top:50px;
}

hr:after {
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 50px;
  line-height: 1;
	background: #fff;
	font-size: 1.7rem;
}


hr.portfolio-hr:after {
	content: 'Portfolio';
}

hr.contact-hr:after {
	content: 'Contact';
}

.body-wrapper {
  max-width: 1000px;
  width: 75%;
  margin: 0 auto;
}

#nav {
  height: 40px;
}

#nav img {
  height: 25px;
}

.nav-right {
  position: absolute;
  top: 5;
  right: 0;
}

.nav-right img {
  margin-right: 10px;
}

#nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  position: absolute;
  top: 7px;
}

#nav-items li {
  display: inline;
  margin-left: 30px;
  font-size: 14px;
  font-weight: bold;
}

#about {
  text-align: center;
  margin: 50px 0;
}

#headshot {
  height: 150px;
  border: 2px solid #e7e7e7;
  border-radius: 80px;
  margin-bottom: 30px;
}

.hero-row {
  height: 200px;
  display: flex;
  align-items: center;
}

.hero-row.code {
  line-height: 1.5;
  background-color: #34363e;
  color: #fff;
  font-size: 18px;
  font-family: inconsolata;
}

#code-text-wrapper, #design-text, #critical-text {
  margin: 0 auto;
}

#code-text-wrapper {
  padding-left: 8px;
}

.hero-row.design {
  background-image: url('images/olomana.jpg');
  background-position: center;
  background-size: 100%;
}

/* For any viewports less than 610px wide */
@media (max-width: 610px) {
    .hero-row.design {
        background-size: cover;
    }
    .nav-left, #instagram {
        display:none;
    }
}

.hero-row.design img {
  height: 96;
  width: 197px;
}

.hero-row.critical-thinking {
  font-family: cavorting;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/tiny_grid.png");
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
}

.hero-row.critical-thinking .bulbs{
  height: 120px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: 275px;
  align-self: baseline;
}

.hero-row.critical-thinking .crosses{
  height: 100px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: -300px;
}

.hero-row.critical-thinking .underline{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 31px;
  width: 200px;
}



#critical-text {
  font-size: 45px;
  margin-top: -10px;
}

.hero-row.critical-thinking:after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.17);
  z-index: -1;
}


#skillset {
  text-align: center;
  margin-top: 75px;
}

#skillset i {
  font-size: 25px;
  margin-bottom: 20px;
}

#skillset h2 {
  margin-top: 10px;
  margin-bottom: 15px;
}

#portfolio-grid {
  margin: 60px 0;
  background-color: #000;
}

#portfolio-grid .row {
  cursor: pointer;
}

#portfolio-grid .row .portfolio-item {
  padding: 0;
  height: 200px;
  background-size: cover;
  border: 1px solid #fff;
  cursor: pointer;
}

#portfolio-grid .row .portfolio-item .overlay {
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
     -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
          transition: all 0.2s linear;

}

#portfolio-grid .row .portfolio-item .overlay:hover {
  opacity: 1;
  cursor: pointer;
}


.valence-1 {
  background: url('images/valence1.jpg');
}

.pythio-1{
  background: url('images/pythio-device.png');
}

.pythio-2{
  background: url('images/pythio-screenshot.png');
}

.heroku {
  background: url('images/heroku-2.jpg');
}

.tasc {
  background: url('images/tasc.png');
}

.sullivan {
  background: url('images/sullivan.jpg');
}

.sgr {
  background: url('images/shopify.jpg');
}

.kp {
  background: url('images/kp.png');
}

#contact {
  margin-top: 75px;
}

#instagram {
  margin-top: 100px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  border-top: 5px solid #e7e7e7;
}

#instagram li {
  display: inline;
}

#instagram li img {
  width: 4%;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border: 1px solid #fff;
  border-top: none;
  border-bottom: none;
}

#footer {
  height: 25px;
  width: 100%;
  background-color: #34363e;
}

.code-element {
  color: #e900cb;
}

.code-attribute {
  color: #79e900;
}

.code-string {
  color: #d6de00;
}

.code-comment {
  color: #5b6178;
}

.code-href {
  color: #de0068;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

.btn-primary {
  background-color: #76e7f9;
  border-color: #79dcdc;
  float: right;
}

.modal-body {
  padding: 60px;
  padding-top: 30px;
}

.modal-logo{
  display: block;
  margin: 0 auto;
  height: 100px;
  padding-bottom: 10px;
}

.tech-logo {
  height: 100px;
}
