html, body {
    font-family: stolzl, sans-serif;        
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
}

p, h1 {
    margin: 0;
}

h1 {
    font-family: stolzl, sans-serif;        
    font-weight: 700;
    font-style: normal;
    margin-bottom: 5px;
}

p {
    line-height: 150%;
    margin-bottom: 50px;
}

.container {
    height: calc(100vh - 40px); 
    display: flex;
    flex-direction: column;
    align-items: left; 
    justify-content: center;
    margin-left:5%;
}

.link {
    color: #000;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
}

.link::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 3px solid;
    margin-top: 4px;
  }

input[type=button]{
    width: 80px;
    height: 40px;
    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
}

#nav {
height: 40px;
}

#nav a {
cursor: pointer;
}

#nav a:hover {
text-decoration: none;
}

#nav img {
height: 30px;
}

.nav-right {
position: absolute;
top: 10;
right: 0;
}

.nav-right img {
margin-right: 10px;
}

#nav-items {
list-style-type: none;
margin: 0;
padding: 0;
display: inline;
position: absolute;
top: 7px;
}

#nav-items li {
display: inline;
margin-left: 30px;
font-size: 14px;
font-weight: bold;
}
